.error_mes {
  background-color: lightpink;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

section {
  color: white;
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  margin-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}


a,
a:visited {
  color: #fff;
}


.backButton { 
  background-color: #0F1111; 
  color: #FFD700; 
  border: 1px solid #FFD700; 
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 6px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.backButton:hover {
  background-color: #232F3E; 
  color: #FFD700;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
  transform: translateY(-3px); 
}

.backButton:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.5);
}

.backButton .faArrowLeft {
  margin-right: 8px;
  font-size: 1.2em;
}


input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
textarea:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

label,
.submit {
  margin-top: 1rem;
  color: white;
}

.submit {
  padding: 0.5rem;
}


.submit:enabled {
  background-color: #0F1111; 
  color: #FFD700; 
  border: 1px solid #FFD700; 
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 6px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}


.submit:enabled:hover,
.submit:enabled:focus {
  background-color: #232F3E; 
  color: #FFD700;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
  transform: translateY(-3px); 
}


.imgg {
  display: block;
  max-width: 700px;
  margin: 0 auto 10px;
  height: auto;
  margin-left: 38%;
}
